/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* BACKGROUND */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #cfe9ff, #e8dcff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 700px;
}

/* CARD */
.card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* TITLE */
.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 15px;
  color: #555;
  margin-bottom: 25px;
}

/* FORM */
label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #5a00ff;
}

/* ROWS */
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
}

.col {
  flex: 1;
}

.single {
  margin-bottom: 20px;
}

/* BUTTON */
.btn-submit {
  width: 100%;
  padding: 14px;
  background: #5a00ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-submit:hover {
  background: #4000c7;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .title {
    font-size: 24px;
  }
}
